@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Grold;
	}
	@font-face {
		font-family: 'Grold';
		src: url('/src/assets/fonts/Grold-Bold.ttf') format('truetype');
	}
}
